@import url("https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap");
:root {
  .fira-sans-regular {
    font-family: "Fira Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
}

body {
  margin: 0;
  box-sizing: border-box;
}
